body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
    color: #333;
    text-decoration: none;
}

.navbar {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar a {
    color: #ecf0f1;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #b4adff;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

#mesa{
    background-color: #006600;
    border: 8px solid #3e2b00;
    border-radius: 12px;
    box-shadow: 0 0 10px #000;
}