body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.navbar {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar a {
    color: #ecf0f1;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}


.navbar a:hover {
    color: #b4adff;
}

.projetos {
    background-color: rgb(238, 238, 238);
    max-width: 1200px;       
    margin: 0 auto;      
    padding: 20px;          
    text-align: center;    
    border-style: solid;
    border-color: #34495e;
    border-radius: 10px;
}

table {
    position: relative;
    top: 80px;
}

.cabecalho {
    width: 300px;
    border-style: solid;
    border-color: #34495e;
    background-color: #34495e;
    color: white;
}

td{
    border-style: solid;
    border-color: #34495e;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: #34495e;
}
