body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #34495e;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.navbar a {
    color: #ecf0f1;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}


.navbar a:hover {
    color: #b4adff;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

.container_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

#box {
    border: none;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    color: black;
}

#button {
    border: solid #354a5f;
    border-radius: 50px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    background-color: #445f7c;
}

p {
    font-size: 18px;
}



