/* Container central do formulário */
.auth-container {
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: #fff;

    border-radius: 10px;
    box-shadow: 0 5px 15px #00000020;
    text-align: center;
}

/* Título (Login / Cadastro) */
.auth-container h1 {
    margin-bottom: 25px;
    font-size: 28px;
    color: #111;
}

/* Inputs */
.auth-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;

    background-color: #f0f0f0;
}

.auth-container input:focus {
    border-color: #051243;
    outline: none;
}

/* Botão principal */
.auth-container button {
    width: 100%;
    padding: 12px;

    background-color: #051243;
    color: white;

    border: none;
    border-radius: 6px;
    cursor: pointer;

    font-size: 16px;
    font-weight: bold;

    transition: 0.2s;
}

.auth-container button:hover {
    background-color: #030e37;
}

/* Link abaixo do formulário */
.auth-container a {
    display: block;
    margin-top: 15px;
    color: #051243;
    text-decoration: none;
}

.auth-container a:hover {
    text-decoration: underline;
}
