/* Resetando margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cor de fundo e estilo de fonte */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

/* Seção de Hero (Imagem de fundo) */
.hero {
    background: url('https://via.placeholder.com/1500x800') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
}

.hero-content {
    z-index: 1;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.cta-button {
    background-color: #051243;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #030e37;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
