/* === Configurações gerais === */
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.6;
  background-color: lightsteelblue; /* Cor do fundo */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* Centraliza na horizontal */
  align-items: center;     /* Centraliza na vertical */
  height: 100vh;
  margin: 0;
  
}

.navbar {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar a {
    color: #ecf0f1;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}


.navbar a:hover {
    color: #b4adff;
}


/* === Caixa principal === */
.container {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 350px;
}

/* === Campos de formulário === */
input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* === Botão === */
button {
  background-color: #34495e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #253546;
}

/* === Links === */
a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
