<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta</title>
</head>
<body>
        <h1><%= resposta %></h1>
        <a href="/cars" class="cta-button">Voltar para a Lista de Carros</a><br>
        <a href="../lab_10/index.html">Voltar para Home</a>
</body>
</html>
